ENV=production
LOG_LEVEL=INFO

DATABASE_URL=postgresql://<username>:<password>@<host>/<database>

GEMINI_API_KEY=
GOOGLE_API_KEY=

B2B_FLEET_API_URL=https://b2b-fleet-aggregator-api.onrender.com
B2B_FLEET_API_KEY=

PYTHON_VERSION=3.12.0
