altair
annotated-types
attrs
blinker
cachetools
certifi
charset-normalizer
click
colorama
contourpy
cycler
defusedxml
fonttools
fpdf2
gitdb
GitPython
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
googleapis-common-protos
greenlet
grpcio
grpcio-status
httplib2
idna
iniconfig
Jinja2
jsonschema
jsonschema-specifications
kiwisolver
MarkupSafe
matplotlib
mkl-service
mkl-fft
mkl-random
narwhals
numpy
numpy-typing-compat
optype
packaging
pandas
pandas-stubs
patsy
pgvector
pillow
plotly
pluggy
proto-plus
protobuf
psycopg2-binary
pyarrow
pyasn1
pyasn1_modules
pydantic
pydantic_core
pydeck
Pygments
pyparsing
pytest
python-dateutil
python-dotenv
pytz
referencing
requests
rpds-py
rsa
scipy
scipy-stubs
setuptools
six
smmap
SQLAlchemy
statsmodels
streamlit
tenacity
toml
tornado
tqdm
types-pytz
typing-inspection
typing_extensions
tzdata
uritemplate
urllib3
watchdog
wheel
